@using SuperMovie.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/ionicons.min.css" rel="stylesheet">
    <title>Super Movie</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Mvc.RazorTools.BundleManager.Styles.Render()

</head>
<body>
            @if (User.IsInRole(RoleName.CanManageMovies))
               { 
                   @Html.Partial("_NavBar")
               }
            else
               {
                   @Html.Partial("_NavBar -guest")
               }
                
        
    
<div class="container body-content">
    @RenderBody()
  
    <section class="container col-md-12" style="overflow-x:auto;">
        <hr />
        <footer class="row">

            <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="">ABOUT US</a></li>
                    <li><a href=""><img src="~/Content/Img/iCloud.png" style="height: 32px; width: 100px;"></a></li>
                    <li><a href=""><img src="~/Content/Img/android.png" style="width: 90px; height: 30px;"></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="social-links">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>

                </ul>
            </div>
            <div>
                <p>
                    Copyright &copy; 2018 by Super Movie. All rights reserved.
                </p>
            </div>

        </footer>
    </section>

</div>


@Scripts.Render("~/bundles/lib")
@RenderSection("scripts", required: false)
</body>
</html>
