@using SuperMovie.Models
@model LoginViewModel
@{
    ViewBag.Title = "Sign In";
}
<link href="~/Content/Login-boxStyl.css" rel="stylesheet" type="text/css">
<body>
<div class="loging-page">
    <div class="loging-page-contaner">
        <h2 style="margin-top: -10px; margin-bottom: 20px;">Sign In</h2>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group has-feedback">
                    <span class="fa fa-user form-control-feedback"></span>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @placeholder = "User Name" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new {@class = "text-danger"})

                    </div>
                </div>
                <div class="form-group has-feedback">
                    <span class="fa fa-lock form-control-feedback"></span>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control" ,@placeholder = "Password"})
                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})

                    </div>
                </div>

                <div class="RemLog-bch">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default"/>
                        </div>
                    </div>
                </div>

//                 Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
            }

            <div>
                <section>
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl})
                </section>
            </div>

            <div style="margin-top: 50px;">
                <h5>Or Sign Up Using</h5>
                <p>
                    @Html.ActionLink("Sign Up", "Register")
                </p>
            </div>


        </section>
    </div>

</div>
    
  </body>
 @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 }